[2020-12-15 19:57] jacqueline11 opened #1 "Technical Project Details"
Enter the following details for the project to begin the onboarding process.

- Maturity Level Proposed:
- Company Sponsor (Full Legal Name):
- Jurisdiction of Incorporation:
- Address:
- Project Sponsor Contact:
- Technical Contact:
- Legal Contact:
- TAC Sponsor:
- TAC/GB Approval Date:
- Project in SFDC:
- Project License:
- Project Presentation:
- Project Proposal per LF AI:
- Project Artwork:

[2020-12-15 20:03] jacqueline11 opened #2 "Licensing"
Review and complete the following:

-[] Project license exists and is OSI-approved - Confirm status
-[] Proposed license inline with umbrella's IP Policy - Confirm status
-[] Pre-intake FOSSology scan complete and no major incompatible licenses detected - Confirm status
-[] Determine known components/dependencies not under compatible license

Please add any relevant comments.

[2020-12-15 20:17] jacqueline11 opened #3 "Contribution"
Review and complete the following:

-[] #1 - Project: Deactivate whatever CLA/DCO is in place and adopt GitHub's DCO at https://github.com/apps/dco
-[] #2 - LF: Share/Discuss Project Charter Template and Finalize with Project (update New Projects Onboarding with Legal Status Tracking)
-[] #3 - Share/Discuss Account & Trademark Assignment Template and Finalize with Project (update New Projects Onbo

[2020-12-15 20:41] jacqueline11 opened #4 "Project Assets"
Review and complete the following:

-[] Domain name confirmation // If no domain is registered, then one is to be purchased // If one exists, it must be transferred
 using https://jira.linuxfoundation.org/servicedesk/customer/kb/view/28485232 // Reference: https://confluence.linuxfoundation.org/display/LID/Domain+Registration+and+Transfers |  

-[] Current logos confirmation // If no logo exists,

[2020-12-15 20:46] jacqueline11 opened #5 "TAC & Governing Board Project Review"
Review and complete the following:

-[] Provide project proposal process/template to project sponsor (https://github.com/LFDLFoundation/proposing-projects/tree/master/proposal-process)

-[] Confirm/Schedule presentation date during TAC meeting (TAC Mtg Agenda Tracking)

-[] Review and confirm final proposal and presentation deck

-[] Add project presentation to TAC agenda/deck and send to tac-gene

[2020-12-15 20:49] jacqueline11 opened #6 "Infrastructure"
Review and complete the following:

-[]Update Github proposal to show project accepted

-[]Setup org in Github, add IbrahimHaddad and/or MightyNerdEric as org owners

-[]Migrate code repository to new GH org

-[]Add project to LF AI landscape and mark it as an LF AI project

-[]Add logo of company donating project to LF AI landscape

Please add any relevant comments to issue.

[2020-12-15 20:57] jacqueline11 opened #7 "Operations"
Review and complete the following:

-[]Set up project wiki space under LF AI wiki

-[]Add project to Current Projects section on wiki

-[]Add TAC sponsor to project wiki home page and to LF AI projects list on GitHub

-[]Set up project mail lists (announce, tsc, technical-discuss) under LF AI Groups.io

-[]Confirm the need for a security specific mailing list (example: onnx-security@lists...)

-[]

[2020-12-15 21:03] jacqueline11 opened #8 "Governance"
Review and complete the following:

-[] Graduate Project Specific: Send reminder about Technical Project Getting Started Checklist to help kickoff next steps based on project technical charter

-[] Graduate Project Specific: Help coordinate initial kickoff TSC/project meeting (TAC sponsor should be involved)

Please add any relevant comments to issue.

[2020-12-15 21:07] jacqueline11 opened #9 "Marketing"
Review and complete the following:

-[]Update LF AI & Data Timeline with new project - Creative Services ticket required - Ref LP- 6341

-[]Build landing page on umbrella website and add to project menu - Creative Services ticket required - Ref LP-6711

-[]Coordinate announcement (press release or blog post) and social promotion with project company - Add to PR/Comms tracker

-[]Add project spotli

[2020-12-15 21:11] jacqueline11 opened #10 "Additional Follow Up Items"
Review and complete the following:

-[] Graduate Project Specific: Confirm Completion of Technical Project Getting Started Checklist

-[]Confirm ongoing license scanning is set up through Steve W. - Add to tracker

-[]Confirm export control filings are done through Steve W. for all projects and also planned through Software Freedom Law Center for Graduate level projects - Add to tracker

-[]Add pr

[2020-12-15 21:58] jacqueline11 opened #11 "[Project Onboarding] Template"

[2020-12-15 22:10] jacqueline11 opened #12 "[Project Onboarding] Template"
The follow tasks are required to be reviewed and completed for each project onboarding.

**TECHNICAL PROJECT DETAILS**

-[] Maturity Level Proposed:

-[] Company Sponsor (Full Legal Name):

-[] Jurisdiction of Incorporation:

-[] Address:

-[] Project Sponsor Contact:

-[] Technical Contact:

-[] Legal Contact:

-[] TAC Sponsor:

-[] TAC/GB Approval Date:

-[] Project in SFDC:

-[] Project License

[2021-02-24 18:55] jzcardoso opened #13 "[Template Graduate Project Onboarding]"
The following tasks are required to complete onboarding for a Graduate level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF Staff: Review each item, confirm completion, and add any relevant notes.

**TECHNICAL PROJECT DETAILS**

--Maturity Level Proposed:
--Company Sponsor (Full Lega

[2021-02-24 19:20] jzcardoso opened #14 "[Template Incubation Project Onboarding]"
**COPY ISSUE FOR EACH NEW INCUBATION PROJECT ONBOARDING + ASSIGN TO LF AI STAFF + PROJECT LEAD**

The following tasks are required to complete onboarding for an Incubation level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and

[2021-02-24 19:54] jzcardoso opened #15 "[Template New Sandbox Project Onboarding]"
**COPY (click edit then copy the content to include formatting in paste) ISSUE FOR EACH NEW SANDBOX PROJECT ONBOARDING + ASSIGN TO LF AI STAFF + PROJECT LEAD**

The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF

[2021-02-25 15:26] ibrahimhaddad opened #16 "Onboarding Tracker for FLYTE"
The following tasks are required to complete onboarding for an Incubation level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

**TECHNICAL PROJECT DETAILS**

**--Maturity Level Proposed:**  Incubation

[2021-02-25 19:07] jzcardoso commented on #16
Hello All -- I'll be kicking off upcoming operations tasks on 03/01/21.

Welcome Flyte team and please expect an onboarding email with more details/resources next week.

[2021-02-27 17:14] ibrahimhaddad opened #17 "Onboarding Tracker for Datashim"
**TECHNICAL PROJECT DETAILS**

**--Maturity Level Proposed:** Incubation
**--Company Sponsor (Full Legal Name):** IBM
**--Project Sponsor Contact:** Jim Spohrer
**--Technical Contact:** Yiannis Gkoufas
**--Legal Contact:**
**--TAC Sponsor:** Jim Spohrer
**--TAC Approval Date:** 01/14/2021
**--Project License:** Apache 2.0
**--Project Presentation:** https://docs.google.com/presentation/d/1iklxG0wf

[2021-03-01 15:51] jzcardoso commented on #17
@CarlyLF - This announcement was previously drafted under the original project name so you will just need to adjust for the naming.

@YiannisGkoufas - Related to the PM items, many were previously done under the original name so I will be going back through and adjusting for the naming change.

[2021-03-08 22:24] jzcardoso commented on #17
@YiannisGkoufas As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analytics-bot@linuxfoundation.org' to join the 'flyte-org.slack.com' workspace? Please confirm when complete.

[2021-03-08 22:25] jzcardoso commented on #16
@kumare3  As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analytics-bot@linuxfoundation.org' to join the 'flyte-org.slack.com' workspace? Please confirm when complete.

[2021-03-08 22:28] kumare3 commented on #16
@jzcardoso done! please confirm when you receive it

[2021-03-08 22:34] jzcardoso opened #18 "Onboarding Tracker for RosaeNLG"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

**TECHNICAL PROJECT DETAILS**

--Maturity Level Proposed: Sandbox
--Company S

[2021-03-08 22:53] jzcardoso commented on #16
@kumare3 thanks for the quick response. Just as soon as I hear back from our team doing the set up I'll let you know that we are all good.

[2021-03-09 14:58] jzcardoso commented on #16
@kumare3 We are set with the Slack access for LFX Insights. If anything further is needed we will let you know. Thanks.

[2021-03-09 20:11] kumare3 commented on #16
@jzcardoso So I just checked the LFX dashboard, it looks awesome. I had one question, it currently shows only one Flyte - repo, which is actually just a documentation repo. How can we get all our repos into this dashboard. That will really help the community

[2021-03-09 20:34] jzcardoso commented on #16
@Ketan Umare ***@***.***> Great question. You can always request
more repos to be added by creating a ticket via our Jira Service Desk, the
LFX Insights section is found here:
https://jira.linuxfoundation.org/plugins/servlet/theme/portal/4/group/54.

If you have the full list of repos now I can add it in the current ticket,
otherwise you can submit a ticket anytime.

Thank you,
Jacqueline

Jacquel

[2021-03-09 21:04] kumare3 commented on #16
Sure here are the repos that we definitely want to be tracked, we will be adding a few more repos in the future

https://github.com/flyteorg/flyteadmin
https://github.com/flyteorg/flytepropeller
https://github.com/flyteorg/flytekit
https://github.com/flyteorg/flyteplugins
https://github.com/flyteorg/flyteidl
https://github.com/flyteorg/flytecopilot
https://github.com/flyteorg/flytestdlib
https://g

[2021-03-11 19:37] kumare3 commented on #16
@jzcardoso I do so the 12 repositories in the landing page, but not actual in the details page for Flyte - https://insights.lfx.linuxfoundation.org/projects/lfai%2Fflyte/dashboard
Is there something else I need to do?

[2021-03-11 19:48] jzcardoso commented on #16
@kumare3 the ticket has not closed yet so the work is still in progress. Once it is closed we will cross off that item from our checklist.

[2021-03-11 20:55] jzcardoso commented on #18
@ludans Welcome to the LF AI & Data Foundation! You should have in your inbox an onboarding email to review which covers resources and initial info on joining the foundation. I'll be working on the Program Management and Operations tasks in our onboarding and will be circling back next week once we have a few more details ready to go (such as logo, legal, etc.).

As part of the LFX Insights tracki

[2021-03-12 12:54] ludans commented on #18
- reference artwork pushed here: https://github.com/RosaeNLG/rosaenlg/tree/master/packages/rosaenlg-doc/artwork
- dev-analytics-bot@linuxfoundation.org added in RosaeNLG workspace

please tell me when I have to work/provide info on any topic

[2021-03-18 11:29] ibrahimhaddad commented on #18
Hi @ludans, no action is needed. Here's the final artwork for the project: https://artwork.lfaidata.foundation/projects/rosaenlg/.
I've also added it here https://github.com/RosaeNLG/artwork as we do with all of our hosted projects.
Thank you.

[2021-03-25 13:14] jzcardoso opened #19 "Onboarding Tracker for Substra"
The following tasks are required to complete onboarding for an Incubation level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

**TECHNICAL PROJECT DETAILS**

**--Maturity Level Proposed:** Incubation

[2021-03-31 21:19] jzcardoso commented on #19
I'll be working on PM/Ops items starting next week while the final project naming and logo are solidified.

[2021-05-04 18:21] jzcardoso opened #20 "Test Issue"
**COPY (click edit then copy the content to include formatting in paste) ISSUE FOR EACH NEW GRADUATE PROJECT ONBOARDING + ASSIGN TO LF AI STAFF + PROJECT LEAD**

The following tasks are required to complete onboarding for a Graduate level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

L

[2021-05-06 13:19] jzcardoso opened #21 "Onboarding Tracker for ML eXchange (MLX)"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2021-05-06 13:21] jzcardoso opened #22 "Onboarding Tracker for Kompute"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2021-05-06 19:25] jzcardoso opened #23 "Migration of Project Onboarding Previously Tracked Outside of GitHub"
Creating an issue to archive project onboarding previously tracked outside of GitHub.

- [x] Acumos: https://docs.google.com/spreadsheets/d/1cJ-rRNaklYGu_JyvQwBUwRJWXlIDA0VkGG7Hcyw-h00/edit#gid=1605126482
- [x] Adlik: https://docs.google.com/spreadsheets/d/1cJ-rRNaklYGu_JyvQwBUwRJWXlIDA0VkGG7Hcyw-h00/edit#gid=497221174
- [x] Amundsen: https://docs.google.com/spreadsheets/d/1cJ-rRNaklYGu_JyvQwBUwRJ

[2021-05-06 20:06] jzcardoso commented on #23
@ibrahimhaddad @CarlyLF Just an FYI that the actual onboarding sheets for all these projects previously tracked in Google Sheets have been Archived and Hidden in that sheet. The direct links are listed above for reference but to view any previous ones you'll need to review the Hidden sheets section and then select it.

We don't have much left to track in there so I'll take care of checking on thes

[2021-05-06 20:19] jzcardoso opened #24 "[Template Project Graduation Checklist]"

[2021-05-20 15:29] ibrahimhaddad opened #25 "Onboarding Tracker for Open Lineage"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2021-05-20 18:37] #18 closed

[2021-05-20 20:10] jzcardoso commented on #21
Project lead has not accepted invite for onboarding tracking -- Pending note for Animesh:

We are looking to include your LF AI & Data Foundation project in the [LFX Security](https://security.lfx.linuxfoundation.org/#/a0941000012Y73ZAAS/foundation-details) tool. As the project lead, please take a few minutes to submit the request for your project by visiting the [LFX Security](https://security.lf

[2021-05-20 21:32] jzcardoso commented on #25
Hello @julienledem -- We are looking to include your LF AI & Data Foundation project in the [LFX Security](https://security.lfx.linuxfoundation.org/#/a0941000012Y73ZAAS/foundation-details) tool. As the project lead, please take a few minutes to submit the request for your project by visiting the [LFX Security](https://security.lfx.linuxfoundation.org/#/a0941000012Y73ZAAS/foundation-details) page,

[2021-05-21 00:33] julienledem commented on #25
Best Practices badge: https://github.com/OpenLineage/OpenLineage/pull/51
I have also submitter to LFX Security

[2021-05-21 17:38] jzcardoso commented on #25
Great, thanks Julien.

[2021-05-24 18:25] jzcardoso commented on #25
@julienledem A couple of items for you regarding this onboarding checklist.

1. Wiki Space -- You had requested a confluence wiki space for use which has been created, it is available here: https://wiki.lfaidata.foundation/display/OpenLineage You can edit as you'd like.

2. LFX Insights -- As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analyti

[2021-06-08 17:42] jzcardoso opened #26 "Milvus Graduation Checklist"
The following tasks are required to complete for projects which have moved from the Incubation level to Graduate level within the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Techn

[2021-06-08 18:27] jzcardoso commented on #26
@ibrahimhaddad Please update the Landscape with a Graduate flag when you have a moment.

I have started the other tasks on the checklist.

[2021-06-23 16:23] #26 closed

[2021-06-23 19:42] jzcardoso commented on #19
Project needs to do the following for LFX Insights and Security:

1. LFX Insights -- As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analytics-bot@linuxfoundation.org' to join the the openlineage workspace? Please confirm when complete so that our product team can add the project.

2. LFX Security -- We would like to include your project in the

[2021-06-23 21:05] jzcardoso commented on #19
@ibrahimhaddad I've gone through and completed the items that were pending a logo and I've updated the tracking for the PM/Ops/Marketing items.

[2021-07-06 19:28] jzcardoso commented on #19
@camillemarini -Please review the following items which we need to work on as part of the onboarding for Substra:

1. LFX Insights -- As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analytics-bot@linuxfoundation.org' to join the the substra workspace? Please confirm when complete so that our product team can add the project.
2. LFX Security --

[2021-07-06 19:34] jzcardoso commented on #19
@ibrahimhaddad -- There are two items I see pending which may or may not be held prior to the announcement: Domain/Website, CII Badge. How would you like to proceed?

The announcement draft was previously reviewed and approved by the Substra team. We just need to determine a target publishing date.

All other open items are in motion and will complete in the next few weeks as tickets close.

[2021-07-15 14:20] ibrahimhaddad opened #27 "Onboarding Tracker for TonY"
The following tasks are required to complete onboarding for an Incubation level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Manage

[2021-07-15 15:58] ibrahimhaddad commented on #27
This is incubation project. Not sure where you see Graduate. I think I copied the text from the Incubation template.

[2021-07-16 19:31] jzcardoso commented on #25
@julienledem Can you please confirm when you have completed the following so that we can let our IT/Product team know they can move forward with adding the project to LFX Insights?

2. LFX Insights -- As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analytics-bot@linuxfoundation.org' to join the the openlineage workspace? Please confirm when com

[2021-07-16 21:05] #21 closed

[2021-07-26 18:58] jzcardoso commented on #25
@julienledem Can you please confirm when you have completed the following so that we can let our IT/Product team know they can move forward with adding the project to LFX Insights?

LFX Insights -- As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analytics-bot@linuxfoundation.org' to join the the openlineage workspace? Please confirm when comple

[2021-07-26 19:30] jzcardoso commented on #19
@camillemarini  We need your help with the following items to move further in completing the various onboarding tasks required. Please review and complete the action items noted below:

LFX Insights -- As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analytics-bot@linuxfoundation.org' to join the the substra workspace? Please confirm when comple

[2021-07-26 19:33] jzcardoso commented on #19
@ibrahimhaddad Is there an update on the project website and CII badging? Hoping to get the pending items on this onboarding closed out due to the ongoing backlog.

[2021-07-26 22:16] jzcardoso commented on #27
@oliverhu A couple of items for you regarding this onboarding checklist:

- LFX Insights -- As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analytics-bot@linuxfoundation.org' to join the TonY workspace? Please confirm when complete so that our product team can add the project.

- LFX Security -- We would like to include your project in the LFX

[2021-07-27 15:14] ibrahimhaddad commented on #19
I emailed Mathieu Galtier and cc-ed you. He's on vacation until Aug 18th.

[2021-07-27 17:37] jzcardoso commented on #22
@axsaucedo Please see details below on the following action item for you:

LFX Security -- We would like to include your project in the LFX Security tool. As the project lead, please take a few minutes to submit the request for your project by visiting the LFX Security page, click on "Secure My Project" on the top right, and follow the prompts. The process takes only a few minutes and once it is a

[2021-07-27 18:25] axsaucedo commented on #22
Thank you for the heads up @jzcardoso - I can confirm that I have now submitted the request for this. Please let me know if there's any further steps required for this or other requirements.

[2021-07-27 19:56] jzcardoso commented on #22
@axsaucedo Thank you for taking care of that and for letting me know. I'll check LFX Security and will confirm it gets added and will cross this item off the list. Everything else looks to be in motion so we are good shape at this point.

[2021-07-28 00:19] oliverhu commented on #27
@jzcardoso  invited dev-analytics-bot@linuxfoundation.org!

[2021-07-28 15:55] oliverhu commented on #27
@jzcardoso  for LFX security, do we need to do it now? We are still in the process to transfer the repo to a new GitHub org.

[2021-07-28 19:23] jzcardoso commented on #27
@oliverhu Thanks for confirming the invite was sent. We can hold on the LFX Security if you would like. I will add a note to the ticket.

[2021-08-10 22:56] jzcardoso commented on #17
@YiannisGkoufas  I hope all is well with you. I see that the project is now at 78% for the CII Badging which is great. Do you have an estimate for when you think the project will be able to attain 100% passing? We will need to track this per the incubation project requirements and to close out the onboarding of the project. Thanks.

[2021-08-10 22:57] jzcardoso commented on #16
@kumare3 I hope all is well with you. I see that the project is now at 91% for the CII Badging which is great. Do you have an estimate for when you think the project will be able to attain 100% passing? We will need to track this per the incubation project requirements and to close out the onboarding of the project. Thanks.

[2021-08-11 20:50] julienledem commented on #25
@jzcardoso I have invited dev-analytics-bot@ to the OpenLineage slack.
On LFX security: I have requested access. (SUPPORT-6311) but it looks like I really need my accounts merged: SFDAS-3987

[2021-08-13 19:42] jzcardoso commented on #27
@ibrahimhaddad Can you please confirm once the following two items are completed: DCO enablement and GH code migration

@oliverhu Once the GH code is migrated, please move forward with the LFX Security request and confirm when that's requested - We can then track that item to completion

We will work on the website build and social account transfer post announcement.

[2021-08-16 02:25] oliverhu commented on #27
@jzcardoso I've requested LFX security review.

[2021-08-16 06:08] YiannisGkoufas commented on #17
Hi @jzcardoso will be on vacations the next 2 weeks, but I believe by the end of August the badge would be 100% completed!

[2021-08-16 16:42] jzcardoso commented on #17
@YiannisGkoufas Thanks for the update, that timeframe works. Have a good vacation!

[2021-08-16 21:01] jzcardoso commented on #27
@oliverhu Thanks for completing the request for LFX Security. We will track it to complete on this onboarding tracker.

[2021-08-16 22:16] jzcardoso opened #28 "Test Issue"

[2021-08-17 00:00] kumare3 commented on #16
ohh I thought this is not required for the project to be incubating. Let me review this and get back to you. We should be 100% soon

[2021-08-17 17:30] kumare3 commented on #16
@jzcardoso also we want to add couple more repos to the tracker list
https://github.com/flyteorg/flytekit-java
https://github.com/flyteorg/boilerplate

[2021-08-17 17:32] jzcardoso commented on #16
@kumare3 For any new repos that need to be added you will need to submit a ticket here: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/4

[2021-08-17 21:16] jzcardoso opened #29 "Test - Daily Social Management"
Daily social management
Twitter: https://twitter.com/LFAIDataFdn
LinkedIn: https://www.linkedin.com/company/20545329/admin/

[2021-08-17 21:18] jzcardoso commented on #29
/remind in 1 min

[2021-08-17 21:21] jzcardoso commented on #29
/remind at 2:23PM today

[2021-08-17 21:32] jzcardoso commented on #29
/remind at 2:34 PM today

[2021-08-17 23:15] jzcardoso commented on #29
/remind to verify today at 4:17 pm

[2021-08-19 18:57] jzcardoso commented on #22
@axsaucedo Our LFX Security is undergoing a backend change which will be fully launched with scans resuming mid September. Since this ticket was in the middle of that migration, the instructions are a little different which lead our product team to provide you the permissions to complete the set up. When you have a moment, can you please follow the instructions below?

_I was able to assign him pe

[2021-08-20 07:00] axsaucedo commented on #22
Thank you @jzcardoso - I have tried to activate it but it seems whilst they activated the EthicalML account, they didn't activate it for the account KomputeProject, which is the new organisation that hosts the kompute project (https://github.com/KomputeProject/kompute). Would they be able to give access to the KomputeProject account? Once they do that I will be able to proceed and activate with th

[2021-08-20 13:36] jzcardoso commented on #22
@axsaucedo Let me circle back with our team on this. Sorry for the trouble.

[2021-08-20 13:42] axsaucedo commented on #22
No worries, thank you @jzcardoso

[2021-08-23 20:11] jzcardoso commented on #22
@axsaucedo I think there is some confusion on the access for this as the access needs to be given to an LF ID per the note below:

"I didn't find an LF account called KomputeProject. If he's referring to the GitHub user called KomputeProject, then he'd need to create a corresponding LF account with that username before I can give it access in the PCC."

[2021-08-23 20:15] axsaucedo commented on #22
Thank you for the confirmation @jzcardoso , I don't think I fully know what is being referred as a "LF account", where would that account be expected to be created? I would be happy to be intro'd via email if it helps make the conversations more efficient. Happy to create any releevant LF ID, but I don't think I'm clear where this would be created, as I also never created any LF ID with the name o

[2021-08-23 20:25] axsaucedo commented on #22
@jzcardoso apologies, I think the one confused here was me - I think this may be correctly configured now, I have now been able to log in with that account and verify that both repos have the bot installed correctly. I have attached an image below - is this the expected results?

![image](https://user-images.githubusercontent.com/1447507/130514512-51c7a4c0-3eeb-4af7-b8aa-49f14c69175b.png)

[2021-08-23 21:33] jzcardoso commented on #22
@axsaucedo No worries, this is a slightly new process so the instructions can definitely use some updating, thank you for your patience. Yes, looks like you are all set now. The new service will start doing scans again in mid Sept.

[2021-08-26 18:51] jzcardoso opened #30 "Onboarding Tracker for Kedro"
The following tasks are required to complete onboarding for an Incubation level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Manage

[2021-09-02 21:34] jzcardoso commented on #30
Invited Yetunde Dada to LF AI & Data GH to join Kedro onboarding tracker.

[2021-09-07 17:04] #22 closed

[2021-09-29 19:33] jzcardoso commented on #19
@camillemarini Please assist in completing this item ASAP as the ticket on our end is still pending: LFX Insights -- As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analytics-bot@linuxfoundation.org' to join the the substra workspace? Please confirm when complete so that our product team can add the project.

[2021-09-29 19:36] jzcardoso commented on #25
@julienledem Unfortunately there was an issue with the slack invite expiring. Can you please resend that and I will let the product team know once you confirm it is sent so they can accept it quickly this time? " As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analytics-bot@linuxfoundation.org' to join the the openlineage workspace? Please conf

[2021-09-29 19:38] jzcardoso commented on #27
@oliverhu Unfortunately there was an issue with the slack invite expiring. Can you please resend that and I will let the product team know once you confirm it is sent so they can accept it quickly this time? " As part of the LFX Insights tracking that is set up, for slack, can you please send an invite at 'dev-analytics-bot@linuxfoundation.org' to join the the tony workspace? Please confirm when c

[2021-09-30 06:02] oliverhu commented on #27
@jzcardoso  'dev-analytics-bot@linuxfoundation.org' is already in the tony workspace.

[2021-09-30 19:41] jzcardoso commented on #27
Thanks for the update @oliverhu, I will have our product team recheck.

[2021-10-01 15:15] jzcardoso commented on #27
@oliverhu Our product team is stating the following: "Doesn't look like this email is in the workspace already. This is the workspace I am trying to join [4]https://li-tony.slack.com/_"

Can you confirm that this is the workspace you added to?

[2021-10-01 16:04] oliverhu commented on #27
Yes...I can see the account.

[2021-10-01 16:41] jzcardoso commented on #27
@oliverhu how very strange. would it be possible for you to remove them and re-add them? perhaps it will trigger the correct view? very sorry for the inconvenience on this item.

[2021-10-01 17:38] oliverhu commented on #27
Just re-invited `dev-analytics-bot@linuxfoundation.org`

[2021-10-11 18:22] jzcardoso commented on #17
Hello @YiannisGkoufas, I hope you are doing well. Checking in the CII Badging status. Looks like you are almost complete! Can you please confirm when you have this completely wrapped up so we can close out this final item? Thanks in advance for your help and congrats on the great work!

[2021-10-21 14:44] ibrahimhaddad opened #31 "Onboarding Tracker for OpenBytes"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2021-11-01 19:35] jzcardoso commented on #30
@ErinThacker Please note that there were no social accounts listed in the Kedro proposal but they are creating a Twitter account @kedro_org which will need to be transferred. Post announcement is fine.

[2021-11-08 16:38] jzcardoso commented on #17
Hello @YiannisGkoufas -- Can you please provide us with an update on the CII Badging status. Can you please confirm when you have this completely wrapped up so we can close out this final item?

[2021-11-08 16:39] jzcardoso commented on #16
Hello @kumare3 -- Can you please provide an update on the pending CII Badging status? Can you please confirm when you have this completely wrapped up so we can close out this final item?

[2021-11-08 18:46] kumare3 commented on #16
@jzcardoso I think I had completely misunderstood the requirement. Just completed it. The Gold and Silver certifications are not fully complete yet https://bestpractices.coreinfrastructure.org/en/projects/4670

[2021-11-08 20:43] jzcardoso commented on #16
@kumare3 Thanks for confirming the completion for the best practices badge. The Gold and Silver are not required for Incubation so you are good to go for now. Thanks again!

[2021-11-09 14:38] YiannisGkoufas commented on #17
Apologies I missed that @jzcardoso I just managed to close the final item obtained the badge.

[2021-11-09 14:48] jzcardoso commented on #17
@YiannisGkoufas That's great to hear, thanks for the update. And congrats on the badging!

[2021-11-09 14:49] #17 closed

[2021-11-09 14:49] #16 closed

[2021-11-17 18:14] jzcardoso commented on #27
Hello @oliverhu Our product team is now ready to onboard Tony into LFX Security. Your LFX account should now have access to install and manage the Security bot on the org: https://projectadmin.lfx.linuxfoundation.org/project/a092M00001Lk7lNQAR/tools/security/overview

If you can complete this step and confirm when done that would be great.

[2021-11-18 07:00] oliverhu commented on #27
Done!

[2021-11-18 13:59] jzcardoso commented on #27
@oliverhu Great, thank you for your help with that item. You should expect to hear back on the website build shortly as well which is the last item on the onboarding checklist.

[2021-11-19 12:14] ibrahimhaddad opened #32 "Onboarding Tracked for KServe"
The following tasks are required to complete onboarding for an Incubation level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Manage

[2021-12-01 23:57] #27 closed

[2021-12-02 18:36] jzcardoso commented on #31
@ibrahimhaddad Can you please share the ticket for the domain name transfer for this project?

Also, is the CII badging URL link available for tracking? Initial search does not come up with anything in progress.

[2021-12-02 18:36] jzcardoso commented on #31
@ErinThacker Please go ahead and submit the LFX Security ticket per my Slack message and please work to close out the landing page and social transfers.

[2021-12-07 14:36] ibrahimhaddad opened #33 "Graduating Flyte"
The following tasks are required to complete for projects which have moved from the Incubation level to Graduate level within the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Techn

[2021-12-07 17:38] ErinThacker commented on #33
@ibrahimhaddad - can you please update the project to graduate in the landscape?

[2021-12-12 22:01] ErinThacker commented on #31
@edward.cui@graviti.com - in order to onboard the project to LFX Security, you will need to install a bot as administrator of the GitHub repo. To do this, we need your LF ID. Can you share that with us? If you don't have an LF ID, you can register for one here: https://identity.linuxfoundation.org/

Thanks and let me know if you have any questions.

[2021-12-12 22:55] ErinThacker commented on #32
@animeshsingh -  in order to onboard the project to LFX Security, you will need to install a bot as administrator of the GitHub repo. To do this, we need your LF ID. Can you share that with us? If you don't have an LF ID, you can register for one here: https://identity.linuxfoundation.org/

Thanks and let me know if you have any questions.

[2021-12-17 20:08] yuzisun commented on #32
@ErinThacker Animesh is on vacation, can you use my LFID?

[2022-01-04 19:31] ErinThacker commented on #32
@yuzisun - I will check. Thanks!

[2022-01-05 17:50] jzcardoso commented on #33
@ErinThacker Can you please follow up on the pending items for this issue? You may need to ping Ibrahim on the Landscape update.

[2022-01-11 18:24] #33 closed

[2022-01-11 18:54] jzcardoso commented on #31
@ErinThacker Can you please follow up on the open items in this issue?

[2022-01-11 18:56] jzcardoso commented on #32
@ErinThacker Can you please circle back on open items in this issue? Thanks!

[2022-01-13 14:45] ibrahimhaddad opened #34 "Graduation Tracker for ART"
The following tasks are required to complete for projects which have moved from the Incubation level to Graduate level within the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Techn

[2022-01-14 03:21] taylorlaw2013 commented on #31
@ErinThacker  We just register the LF ID, which is: OpenBytes
Thanks!

[2022-01-18 22:37] ErinThacker commented on #34
@ibrahimhaddad - can you please update the project flag to Graduated on the landscape? Thank you!

[2022-01-18 22:53] jzcardoso commented on #34
Hold off on this until Feb 8th after the Governing Board approves it. I
forgot to remind you of that Erin.

Thank you,
Jacqueline

Jacqueline Z Cardoso
Senior Program Manager
The Linux Foundation
+1 (415) 676-1127 (m)
***@***.***
Hours: Mon-Thurs, 6am-4pm PT

*My working day may not be your working day. Please don't feel obliged to
reply to this e-mail outside of your normal working hours.*

On Tu

[2022-01-27 15:04] ibrahimhaddad opened #35 "Onboarding Tracker for Artigraph"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2022-01-27 18:00] ErinThacker commented on #32
@yuzisun - we can use your LF ID, just as long as you have admin rights on the repo. Please forward as soon as you can.

[2022-02-01 18:18] ErinThacker commented on #32
@animeshsingh & @yuzisun - can you please provide an LF ID so we can secure the project in LFX? Thanks!

[2022-02-01 19:14] animeshsingh commented on #32
Its my email @ErinThacker

singhan@us.ibm.com

[2022-02-01 22:45] ErinThacker commented on #35
@JacobHayes - do you have a Linux Foundation ID (LF ID)? If not, can you sign up for one here? [](https://identity.linuxfoundation.org/user/login?destination=user)

We're in the middle of a migration to another platform, so if you have issues creating a new ID, let me know.

[2022-02-02 16:59] JacobHayes commented on #35
@ErinThacker Just made one - it should be `JacobHayes`!

[2022-02-03 01:38] ErinThacker commented on #35
@JacobHayes - a few more steps. LFX Security is now onboarded in the PCC at (https://projectadmin.lfx.linuxfoundation.org/project/a092M00001KWvNqQAL/tools/security/overview)

It requires the security bot to be installed on the repo by someone with admin access. Once you're there, navigate to the + sign on the right of the "Connect" field, enter artigraph as the GitHub repo, and follow the instruct

[2022-02-11 18:35] ibrahimhaddad commented on #35
@JacobHayes @ErinThacker  - I activated LFX Security.

[2022-02-14 21:26] jzcardoso opened #36 "[Template Project Graduation Checklist (Sandbox>Incubation)] #24"
**COPY (click edit then copy the content to include formatting in paste) ISSUE FOR EACH SANDBOX LEVEL PROJECT WHICH MOVES TO INCUBATION LEVEL + ASSIGN TO LF AI STAFF + PROJECT LEAD**

The following tasks are required to complete for projects which have moved from the Sandbox level to Incubation level within the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this

[2022-02-14 21:29] jzcardoso opened #37 "Kompute Project Graduation Checklist (Sandbox >> Incubation)"
The following tasks are required to complete for projects which have moved from the Sandbox level to Incubation level within the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Techni

[2022-02-14 21:32] jzcardoso commented on #37
@axsaucedo As mentioned last week, we are sharing this checklist for your reference. These actions are all going to be completed by our team. You can expect to work with Erin on the announcement plans otherwise we will be all set. Of course, if you have any questions, please do let us know!

[2022-02-15 09:53] axsaucedo commented on #37
Thank you for the heads up @jzcardoso - I have started a blog post draft for the announcement which I will share with Erin shortly, I will make sure to coordinate with her. Please let me know if you need any more details to complete any of the required tasks. Thank you as always for the great efforts!

[2022-02-15 13:31] ibrahimhaddad opened #38 "Graduating Kompute from Sandbox to Incubation"
The following tasks are required to complete for projects which have moved from the Sandbox level to Incubation level within the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Techni

[2022-02-15 14:36] jzcardoso commented on #38
Closing as duplicate of https://github.com/lfai/foundation/issues/37

[2022-02-15 14:36] #38 closed

[2022-02-15 14:42] ibrahimhaddad opened #39 "ART Project Graduation Checklist (Incubation >> Graduation)"
The following tasks are required to complete for projects which have moved from the Incubation level to Graduate level within the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Techn

[2022-02-15 15:28] #34 closed

[2022-02-19 01:38] JacobHayes commented on #35
@ErinThacker @ibrahimhaddad FYI - I don't have access to https://projectadmin.lfx.linuxfoundation.org/project/a092M00001KWvNqQAL/tools/security/overview, but I requested access for the future.

[2022-02-23 17:29] #39 closed

[2022-03-02 16:20] #37 closed

[2022-03-07 02:45] JacobHayes commented on #35
The https://lists.lfaidata.foundation/g/artigraph-security description says "Use this mailing list to report security vulnerabilities in the **OpenBytes** project" rather than "the **Artigraph** project". Can this be updated? I don't appear to be able to.

[2022-03-10 02:45] JacobHayes commented on #35
Question on this CII Silver badge question:

I'm currently the only project member, but @ibrahimhaddad has been added to the @artigraph organization - will that suffice? I guess pypi keys aren't shared / releases automated in GH yet.

[2022-03-10 02:50] JacobHayes commented on #35
Also, FYI - I won't be able to access [LFX Security for Artigraph](https://security.lfx.linuxfoundation.org/#/a0941000012Y73ZAAS/foundation-details) as I'm not part of a backing organization ([support ticket](https://jira.linuxfoundation.org/plugins/servlet/theme/portal/4/SUPPORT-8773)). That's probably fine, I just can't see what security issues were detected (only that there were 230 😅).

[2022-03-14 19:24] ErinThacker commented on #35
@JacobHayes - re: the CII Silver badge question: all projects should have thelinuxfoundation & ibrahimhaddad added which should suffice for that requirement. @ibrahimhaddad - can you please confirm?

On LFX Security - sorry about the current limitations, you can consider this item "done" until more access is available.

[2022-04-08 14:02] ibrahimhaddad opened #40 "Onboarding Tracker for 1chipML"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2022-04-11 16:30] jzcardoso commented on #35
@ibrahimhaddad and @ErinThacker -- We are pretty close to finishing the onboarding for Artigraph. Can you take a look an the open items you are working on and update the tracker?

@ErinThacker If you have any questions, please reach out.

[2022-04-11 16:33] jzcardoso commented on #32
@ibrahimhaddad and @ErinThacker - Looks like this onboarding is also close to done. Can you please take a look at open items?

[2022-04-11 16:38] jzcardoso commented on #31
@taylorlaw2013 - One of the requirements for the project is to have an OpenSSF Best Practices Badge (Silver) achieved. Can you please provide the link for OpenBytes and ensure that the requirements are met? Thanks!

[2022-04-11 16:40] jzcardoso commented on #25
@ErinThacker Can you please circle back this week on open items for this onboarding please?

[2022-04-11 16:49] jzcardoso commented on #19
Requested project update from Eric Boniface.

[2022-04-11 16:58] jzcardoso commented on #30
@ibrahimhaddad Is there an update on the following:
1. License scanning completion?
2. OpenSSF badge? I did a search but couldn't find the project.
3. Did they decide whether they are creating a website?

[2022-04-12 18:01] ErinThacker commented on #32
@ibrahimhaddad & @jzcardoso - I followed up again on the legal support ticket for an update on export control filings. I'm working on finding out when Insights projects onboarding will resume.

[2022-04-12 18:03] ErinThacker commented on #31
@jzcardoso - I followed up again on the legal support ticket for an update on export control filings. I'm working on finding out when Insights projects onboarding will resume.

[2022-04-12 18:04] ErinThacker commented on #30
@jzcardoso - I followed up again on the legal support ticket for an update on export control filings. I'm working on finding out when Insights projects onboarding will resume.

[2022-04-12 18:07] ErinThacker commented on #25
@jzcardoso - followed up with Insights onboarding status in ticket.

[2022-04-12 20:26] jzcardoso commented on #40
@ibrahimhaddad do you have access for this project to add them to LFX Security?

[2022-06-21 13:02] ibrahimhaddad opened #41 "Onboarding Tracker for BeyondML"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2022-06-22 18:20] jzcardoso commented on #41
@ErinThacker Please begin the onboarding for this project.

[2022-06-27 18:31] ErinThacker commented on #41
@ibrahimhaddad - do you have access for this project to add them to LFX Security?

[2022-06-30 14:02] ibrahimhaddad opened #42 "Onboarding Tracker for FlagAI"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2022-07-28 13:43] ibrahimhaddad opened #43 "Onboarding Tracker for FATE"
The following tasks are required to complete onboarding for an Incubation level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Manage

[2022-08-17 03:27] ErinThacker commented on #43
@ibrahimhaddad - just checking in, is the charter finalized?

[2022-08-25 15:27] ibrahimhaddad opened #44 "Onboarding Tracker for OpenDataology"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2022-08-25 15:43] ibrahimhaddad opened #45 "Onboarding Tracker for Feathr"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2022-10-04 02:44] ErinThacker commented on #25
@ibrahimhaddad - can you let me know the status of the CII Badge?

[2022-10-04 02:48] ErinThacker commented on #30
@ibrahimhaddad - can you give me an update on these items: Licensing (FOSSology scan), Contribution (CII Badge status), Project Assets (domain name & website confirmation, project website tracking)

[2022-10-04 02:53] ErinThacker commented on #31
@ibrahimhaddad - can you provide an update on the CII Badge?

[2022-10-04 03:11] ErinThacker commented on #32
@ibrahimhaddad - can you give me an update on these items: Licensing (FOSSology scan & known contributions/dependencies), Contribution (CII Badge status), Project Assets (website confirmation & project website tracking)

[2022-10-04 03:15] ErinThacker commented on #35
@ibrahimhaddad - can you give me an update on these items: Licensing (FOSSology scan), Contribution (CII Badge status), Project Assets (artwork)

[2022-10-04 03:16] ErinThacker commented on #40
@ibrahimhaddad - can you give me an update on these items: Licensing (FOSSology scan & known components/dependencies)

[2022-10-04 03:18] ErinThacker commented on #41
@ibrahimhaddad - can you give me an update on these items: Licensing (FOSSology scan & determine known components/dependencies), TAC & GB (verify TAC minutes w/vote), and Operations (technical charter)

[2022-10-04 03:23] ErinThacker commented on #42
@ibrahimhaddad - can you give me an update on these items: Licensing (FOSSology scan & known components/dependencies), Contribution (charter & trademark finalization), Project Assets (domain name & project website tracking), TAC & BG (verify TAC minutes for vote), and Operations (technical charter)

[2022-10-04 03:25] ErinThacker commented on #43
@ibrahimhaddad - can you give me an update on these items: Licensing (FOSSology scan& known components/dependencies), Project Assets (domain name & project website tracking), TAC & BG (verify TAC minutes for vote), and Operations (technical charter)

[2022-10-04 03:28] ErinThacker commented on #44
@ibrahimhaddad - can you give me an update on these items: Licensing (FOSSology scan & known components/dependencies), Contribution (deactivation of CLO in place, project charter, trademark finalization, and CII Badge), Project Assets (artwork), TAC & BG (verify TAC minutes for vote), Infrastructure (setup org in GitHub as an owner), and Operations (technical charter)

[2022-10-04 03:30] ErinThacker commented on #45
can you give me an update on these items: Licensing (FOSSology scan & known components/dependencies), Project Assets (artwork & project website tracking), TAC & BG (verify TAC minutes for vote)

[2022-10-12 20:48] jzcardoso commented on #23
EDL won't complete. Inactive project.

[2022-10-12 20:48] #23 closed

[2022-10-25 18:26] ErinThacker opened #46 "Onboarding Tracker for Elyra"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2022-11-03 14:35] ibrahimhaddad opened #47 "Onboarding Tracker for DocArray"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management

[2022-11-08 15:44] #25 closed

[2022-11-18 14:33] ibrahimhaddad opened #48 "Onboarding Tracker for CLAIMED"
The following tasks are required to complete onboarding for a Sandbox level project joining the LF AI & Data Foundation. LF Staff will engage with the technical project lead via this issue and work through the checklist to completion.

LF AI & Data Staff: Review each item, confirm completion, and add any relevant notes.

Note: (ED) Executive Director, (Tech) Technical Lead, (PM) Program Management